html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  color: #979a9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, white, rgb(242, 222, 222));
}

.container-reg {
  max-width: 650px;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 575.98px) {
  .container-reg {
    width: 450px;
    height: 380px;
    margin-top: 50px;
    overflow: scroll;
  }
}
@media (max-width: 767.98px) {
  .container-reg .form-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.container-reg h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: black;
  padding-bottom: 8px;
  border-bottom: 1px solid silver;
}
.container-reg .content-reg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.container-reg .content-reg input {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.container-reg .content-reg input:nth-child(2n) {
  justify-content: end;
}
.container-reg .content-reg input input {
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.container-reg .content-reg input input :is(:focus, :valid) {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-reg .button-container {
  margin: 15px 0;
}
.container-reg .button-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, white, rgb(242, 222, 222));
  cursor: pointer;
  transition: 0.3s;
}
.container-reg .button-container button:hover {
  background: linear-gradient(to left, white, rgb(242, 222, 222));
}
@media (max-width: 575.98px) {
  .container-reg .form-control {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .container-reg .form-row {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575.98px) {
  .container-reg .form-col {
    width: 100%;
    padding: 0 !important;
  }
}

.header {
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.32);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (max-width: 767.98px) {
  .header {
    display: none;
  }
}
.header-inner {
  width: 100%;
  background-color: #fff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-inner {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-inner {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-logo {
    width: 90px;
  }
}
@media (max-width: 576px) {
  .header-logo {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .header-list {
    padding-left: 0 !important;
  }
}
.header-item {
  display: none;
}
.header-item-link {
  text-transform: uppercase;
  font-weight: 500;
  color: #979a9b;
  transition: all 0.3s;
}
.header-item-link:hover {
  color: #262b2c;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-item-link {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-item-link {
    font-size: 14px;
  }
}
.header-icon, .header-icon-2 {
  font-size: 22px;
  cursor: pointer;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon, .header-icon-2 {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon, .header-icon-2 {
    font-size: 16px;
  }
}
.header-icon:hover .header-icon-list, .header-icon-2:hover .header-icon-list {
  display: block;
}
.header-icon-user::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: -15px;
  display: inline-block;
  width: 100px;
  height: 30px;
  z-index: 10;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-user::after {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-user::after {
    width: 50px;
    left: -2px;
  }
}
.header-icon-list {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  left: -73px;
  top: 47px;
  padding: 0 10px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-list {
    position: absolute;
    display: none;
    width: 106px;
    height: 133px;
    background-color: #fff;
    border-radius: 5px;
    left: -34px;
    top: 40px;
    padding: 9px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-list {
    position: absolute;
    display: none;
    width: 140px;
    height: 148px;
    background-color: #fff;
    border-radius: 5px;
    left: -48px;
    top: 44px;
    padding: 12px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 1200px) {
  .header-icon-list {
    position: absolute;
    display: none;
    width: 160px;
    height: 158px;
    background-color: #fff;
    border-radius: 5px;
    left: -54px;
    top: 47px;
    padding: 12px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  }
}
.header-icon-list::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -5%;
  left: 45%;
  border-bottom: 10px solid #cbc8c8;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-list::before {
    top: -7%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-list::before {
    top: -7%;
  }
}
@media (min-width: 992px) {
  .header-icon-list::before {
    top: -6%;
  }
}
.header-icon-item {
  padding: 5px 0;
}
.header-icon-link {
  color: #979a9b;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-link {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-link {
    font-size: 14px;
  }
}
.header-icon-link:hover {
  color: #262b2c;
}
@media (min-width: 768px) {
  .bg-body-tertiary {
    display: none;
  }
}

.mobile-heading {
  letter-spacing: 5px;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}/*# sourceMappingURL=main.css.map */