html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

h1 {
  color: #979a9b;
}

.detail_content {
  display: flex;
  padding: 50px;
  background-color: white;
  gap: 50px;
}

.detail_left {
  width: 50%;
}
.detail_left img {
  width: 100%;
  background: #f1f1ef;
}

.detail_right {
  width: 50%;
}
.detail_right .categories {
  display: block;
  line-height: 1;
  margin-bottom: 1em;
}
.detail_right .categories a {
  font-size: 18px;
  text-transform: capitalize;
  color: #6e7051;
}
.detail_right .categories a:hover {
  color: black;
}
.detail_right .product_title h1 {
  font-size: 26px;
  font-weight: 600;
  color: #262b2c;
  margin: 0 0 13px 0;
}
.detail_right .product_price {
  display: inline-block;
  color: #979a9b;
  font-size: 2rem;
  margin: 0 0 1rem;
}
.detail_right .product_price del {
  font-weight: 400;
  opacity: 0.5;
}
.detail_right .product_price span {
  font-weight: 700;
}
.detail_right .shipping_text {
  font-size: 1.2rem;
  color: #979a9b;
}
.detail_right .product_description {
  font-size: 18px;
  margin-bottom: 1rem;
  color: #979a9b;
  line-height: 1.8;
}
.detail_right form {
  display: flex;
}
.detail_right form .shoes_sizes {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.detail_right form .shoes_sizes #size_shoes {
  border: 1px solid #6e7051;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 2.5;
  display: inline-block;
  transition: all 0.3s;
}
.detail_right form .shoes_sizes #size_shoes:hover {
  background-color: #6e7051;
  color: white;
  transition: all 0.4s;
}
.detail_right form button[name=add_to_cart] {
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #6e7051;
  color: white;
  border-color: #6e7051;
  padding: 10px 20px;
  margin-bottom: 1rem;
  font-weight: 600;
  transition: all 0.4s;
}
.detail_right form button[name=add_to_cart]:hover {
  background: black;
}
.detail_right .product_categories {
  border-top: 1px solid #dddddd;
  padding-top: 8px;
  font-size: 1rem;
  margin: 0 0 0.8rem;
}

.related_product h2 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 40px;
}
.related_product .related_product_content {
  margin-bottom: 40px;
}
.related_product .related_product_content .related_product_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}
.related_product .related_product_content .related_product_item {
  position: relative;
}
.related_product .related_product_content .related_product_item .sale_circle {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  color: white;
  background-color: #6e7051;
  margin: -0.5rem -0.5rem 0 0;
  z-index: 10;
  border-radius: 100%;
}
.related_product .related_product_content .related_product_item .related_product_media {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #f1f1ef;
}
.related_product .related_product_content .related_product_item .related_product_media .related_link img {
  width: 80%;
  border-radius: 6px 6px 0 0;
}
.related_product .related_product_content .related_product_item .related_product_media .quick_view_btn {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100px);
  text-align: center;
  line-height: 1.8;
  min-height: 2em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100px);
  transition: 0.5s;
}
.related_product .related_product_content .related_product_item .related_product_media:hover .quick_view_btn {
  opacity: 1;
  transform: translateY(0);
}
.related_product .related_product_content .related_product_item .related_product_info {
  text-align: center;
  padding: 20px 15px 0;
}
.related_product .related_product_content .related_product_item .related_product_info .product_name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.related_product .related_product_content .related_product_item .related_product_info .price {
  margin-bottom: 10px;
  font-size: 16px;
}
.related_product .related_product_content .related_product_item .related_product_info .price .product_price {
  color: #979a9b;
  font-weight: 500;
}
.related_product .related_product_content .related_product_item .related_product_info .price .old_price {
  opacity: 0.5;
}
.related_product .related_product_content .related_product_item .related_product_info .related_product_rate {
  color: #979a9b;
}

.footer {
  padding: 70px 0;
}

.register {
  background-image: linear-gradient(to right, white, rgb(242, 222, 222));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
@media (max-width: 1399.98px) {
  .register {
    height: 93.5vh;
  }
}
@media (max-width: 1199.98px) {
  .register {
    height: 93vh;
  }
}
@media (max-width: 991.98px) {
  .register {
    height: 93.5vh;
  }
}
@media (max-width: 767.98px) {
  .register {
    height: 100vh;
  }
}
@media (max-width: 575.98px) {
  .register {
    height: 100vh;
  }
}

.container-reg {
  max-width: 650px;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 575.98px) {
  .container-reg {
    width: 450px;
    height: 80%;
    margin-top: 50px;
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .container-reg .form-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.container-reg .form-check-label {
  margin-top: 5px;
}
.container-reg h2 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: black;
  padding-bottom: 8px;
  border-bottom: 1px solid silver;
}
.container-reg .content-reg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.container-reg .content-reg input {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.container-reg .content-reg input:nth-child(2n) {
  justify-content: end;
}
.container-reg .content-reg input input {
  height: 40px;
  width: 95%;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.container-reg .content-reg input input :is(:focus, :valid) {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-reg .button-container {
  margin: 15px 0;
}
.container-reg .button-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: black;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, white, rgb(242, 222, 222));
  cursor: pointer;
  transition: 0.3s;
}
.container-reg .button-container button:hover {
  background: linear-gradient(to left, white, rgb(242, 222, 222));
}
@media (max-width: 575.98px) {
  .container-reg .form-control {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .container-reg .form-row {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575.98px) {
  .container-reg .form-col {
    width: 100%;
    padding: 0 !important;
  }
}

.branch-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .branch-list {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .branch-list {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .branch-list {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .branch-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .branch-img {
    width: 150px;
  }
}

.about {
  padding: 70px 0;
}
@media (max-width: 576px) {
  .about {
    padding: 30px 0;
  }
}
.about-inner {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-inner {
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
  }
}
@media (max-width: 576px) {
  .about-inner {
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
  }
}
.about-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-img {
    width: 352px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-img {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .about-img {
    width: 350px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-right {
    margin-top: 20px;
  }
}
.about-title {
  color: #f6aa28;
  letter-spacing: 2px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-title {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .about-title {
    font-size: 12px;
  }
}
.about-heading {
  font-size: 40px;
  line-height: 1.2;
  width: 456px;
  margin: 30px 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-heading {
    font-size: 32px;
    width: 304px;
    margin: 20px 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-heading {
    width: 500px;
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .about-heading {
    margin: 10px 0;
    font-size: 28px;
    width: 350px;
  }
}
.about-desc {
  font-size: 18px;
  color: #979a9b;
  line-height: 2.4;
  width: 456px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .about-desc {
    font-size: 16px;
    width: 304px;
    line-height: 1.6;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-desc {
    width: 500px;
    line-height: 1.4;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .about-desc {
    font-size: 14px;
    line-height: 2;
    width: 350px;
  }
}
.about-link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
}
@media (min-width: 576px) and (max-width: 768px) {
  .about-link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.about-link::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orange;
}

@media (min-width: 576px) and (max-width: 768px) {
  .seller {
    padding: 70px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .seller {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .seller {
    padding: 70px 0;
  }
}
.seller-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.seller-heading {
  font-size: 24px;
  font-weight: 600;
}
.seller-link {
  position: relative;
  font-weight: 600;
  font-size: 16px;
}
.seller-link::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -2px;
  left: 0;
  background-color: orange;
  width: 100%;
  height: 2px;
}
.seller-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .seller-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .seller-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .seller-list {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 30px;
  }
}
@media (max-width: 576px) {
  .seller-list {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 30px;
  }
}
.seller-item {
  width: 300px;
  height: 432px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.3s;
}
@media (min-width: 768px) and (max-width: 992px) {
  .seller-item {
    width: 220px;
    height: 360px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .seller-item {
    width: 160px;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .seller-item {
    width: 100%;
    height: 400px;
  }
}
.seller-item:hover {
  transform: translateY(-20px);
}
@media (max-width: 576px) {
  .seller-item:hover {
    transform: translateY(0);
  }
}
.seller-btn {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #000;
  width: 100%;
  color: #fff;
  text-align: center;
  transform: translateY(70px);
  transition: all 0.4s;
}
@media (max-width: 576px) {
  .seller-btn {
    transform: translateY(0);
  }
}
.seller-media {
  position: relative;
  overflow: hidden;
}
.seller-media:hover .seller-btn {
  transform: translateY(0);
}
.seller-img {
  background: #95a2a9;
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.seller-content {
  padding: 10px;
}
.seller-name {
  font-size: 18px;
  font-weight: 600;
  color: #262b2c;
}
@media (min-width: 768px) and (max-width: 992px) {
  .seller-name {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .seller-name {
    font-size: 14px;
  }
}
.seller-desc {
  font-size: 16px;
  color: #979a9b;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 768px) {
  .seller-desc {
    font-size: 12px;
  }
}
.seller-price {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 576px) and (max-width: 768px) {
  .seller-price {
    font-size: 12px;
  }
}
.seller-rate, .seller-content {
  padding: 10px 15px 10px 15px;
}
.seller-rate-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) and (max-width: 768px) {
  .seller-icon {
    font-size: 12px;
  }
}

.customer {
  padding: 70px 0;
}
@media (min-width: 576px) and (max-width: 768px) {
  .customer {
    padding: 70px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .customer {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .customer {
    padding: 30px 0;
  }
}
.customer-heading {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}
.customer-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .customer-list {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .customer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.customer-item {
  border-radius: 8px;
  width: 380px;
  height: 250px;
  padding: 24px;
  border: 1px solid #ccc;
}
@media (min-width: 768px) and (max-width: 992px) {
  .customer-item {
    width: 226px;
    height: 298px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .customer-item {
    width: 509px;
  }
}
@media (max-width: 576px) {
  .customer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 309px;
  }
}
.customer-icon {
  color: orange;
}
.customer-desc {
  margin: 20px 0;
  line-height: 1.6;
}
.customer-info {
  display: flex;
  align-items: center;
}
.customer-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.customer-name {
  margin-left: 10px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.32);
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (max-width: 767.98px) {
  .header {
    display: none;
  }
}
.header-inner {
  width: 100%;
  background-color: #fff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-inner {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-inner {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-logo {
    width: 90px;
  }
}
@media (max-width: 576px) {
  .header-logo {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .header-list {
    padding-left: 0 !important;
  }
}
.header-item {
  display: none;
}
.header-item-link {
  text-transform: uppercase;
  font-weight: 500;
  color: #979a9b;
  transition: all 0.3s;
}
.header-item-link:hover {
  color: #262b2c;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-item-link {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-item-link {
    font-size: 14px;
  }
}
.header-icon, .header-icon-2 {
  font-size: 22px;
  cursor: pointer;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon, .header-icon-2 {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon, .header-icon-2 {
    font-size: 16px;
  }
}
.header-icon:hover .header-icon-list, .header-icon-2:hover .header-icon-list {
  display: block;
}
.header-icon-user::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: -15px;
  display: inline-block;
  width: 100px;
  height: 30px;
  z-index: 10;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-user::after {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-user::after {
    width: 50px;
    left: -2px;
  }
}
.header-icon-list {
  position: absolute;
  display: none;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  left: -73px;
  top: 47px;
  padding: 0 10px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-list {
    position: absolute;
    display: none;
    width: 106px;
    height: 133px;
    background-color: #fff;
    border-radius: 5px;
    left: -34px;
    top: 40px;
    padding: 9px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-list {
    position: absolute;
    display: none;
    width: 140px;
    height: 148px;
    background-color: #fff;
    border-radius: 5px;
    left: -48px;
    top: 44px;
    padding: 12px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 1200px) {
  .header-icon-list {
    position: absolute;
    display: none;
    width: 160px;
    height: 158px;
    background-color: #fff;
    border-radius: 5px;
    left: -54px;
    top: 47px;
    padding: 12px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.4);
  }
}
.header-icon-list::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -5%;
  left: 45%;
  border-bottom: 10px solid #cbc8c8;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-list::before {
    top: -7%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-list::before {
    top: -7%;
  }
}
@media (min-width: 992px) {
  .header-icon-list::before {
    top: -6%;
  }
}
.header-icon-item {
  padding: 5px 0;
}
.header-icon-link {
  color: #979a9b;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-icon-link {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-icon-link {
    font-size: 14px;
  }
}
.header-icon-link:hover {
  color: #262b2c;
}
@media (min-width: 768px) {
  .bg-body-tertiary {
    display: none;
  }
}

.mobile-heading {
  letter-spacing: 5px;
  font-weight: 600;
  color: #000;
  font-size: 22px;
}

.footer {
  padding: 70px 0;
}
.footer-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
@media (max-width: 575.98px) {
  .footer-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .footer-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer-heading {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}
.footer-desc {
  line-height: 1.6;
  color: #9a9a9a;
}
.footer-desc:hover {
  color: #000;
}
.footer-inner-link {
  color: #9a9a9a;
  margin: 10px 0;
  display: inline-block;
}
.footer-inner-link:hover {
  color: #000;
}/*# sourceMappingURL=main.css.map */