$color-text-primary: #979a9b;
$color-secondary: #6e7051;
$color-black: black;
$color-background: #f1f1ef;
$color-button-background: #6e7051;

//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
